In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import label_en

In [6]:
path = '/Users/vedantmahangade/Downloads/validation.json'

df = pd.read_json(path, orient="records")

In [ ]:
label_encoder = LabelEncoder()
all_labels = pd.concat([df_train['label'], df_validation['label'], df_test['label']])
label_encoder.fit(all_labels)

df_train.loc[:, 'label'] = label_encoder.transform(df_train['label'])
df_validation.loc[:, 'label'] = label_encoder.transform(df_validation['label'])
df_test.loc[:, 'label'] = label_encoder.transform(df_test['label'])

                                              sentence  label
0    Finnish security and privacy software solution...      2
1    Total operating revenue grew by 27.6 % year-on...      2
2    Also Finnish Industry Investment , a governmen...      1
3    This is due to the postponement of the decisio...      1
4    However , the offering will probably not be ma...      1
..                                                 ...    ...
628  Customers include hotels and restaurants as we...      1
629  Device volume in the area decreased by 21 % to...      0
630  `` As defences mature , attackers develop Troj...      1
631      A huge issue for us is the button placement .      1
632  France T+®l+®com spent more time studying Teli...      1

[633 rows x 2 columns]

In [7]:
df

                                              sentence  label
0    Finnish security and privacy software solution...      2
1    Total operating revenue grew by 27.6 % year-on...      2
2    Also Finnish Industry Investment , a governmen...      1
3    This is due to the postponement of the decisio...      1
4    However , the offering will probably not be ma...      1
..                                                 ...    ...
628  Customers include hotels and restaurants as we...      1
629  Device volume in the area decreased by 21 % to...      0
630  `` As defences mature , attackers develop Troj...      1
631      A huge issue for us is the button placement .      1
632  France T+®l+®com spent more time studying Teli...      1

[633 rows x 2 columns]